version: '3.7'

services:
  charge-accounts-service:
    container_name: charge-accounts-service
    build:
      context: .
      dockerfile: ./apps/charge-accounts-service/Dockerfile
      target: development
    command: npm run start:dev charge-accounts-service
    environment:
      - API_TCP_PORT
      - ACCOUNTS_HOST
      - API_HOST
      - RELAY_HOST
      - ACCOUNTS_PORT
      - MONGO_URI=${ACCOUNTS_MONGO_URI}
      - AUTH0_ISSUER_URL
      - AUTH0_AUDIENCE
      - APPS_HOST
      - APPS_TCP_PORT
      - PAYMASTER_PRODUCTION_CONTRACT_ADDRESS_V_0_1_0
      - ENTRYPOINT_PRODUCTION_CONTRACT_ADDRESS_V_0_1_0
      - PAYMASTER_SANDBOX_CONTRACT_ADDRESS_V_0_1_0
      - ENTRYPOINT_SANDBOX_CONTRACT_ADDRESS_V_0_1_0
    depends_on:
      - charge-api-service
      - charge-apps-service
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${ACCOUNTS_PORT}:${ACCOUNTS_PORT}
      - ${ACCOUNTS_TCP_PORT}:${ACCOUNTS_TCP_PORT}
    restart: always
  charge-api-service:
    container_name: charge-api-service
    build:
      context: .
      dockerfile: ./apps/charge-api-service/Dockerfile
      target: development
    command: npm run start:dev charge-api-service
    env_file:
      - ./apps/charge-api-service/.env
    environment:
      - API_HOST
      - API_PORT
      - ACCOUNTS_HOST
      - ACCOUNTS_TCP_PORT
      - MONGO_URI=${API_MONGO_URI}
      - NOTIFICATIONS_HOST
      - NOTIFICATIONS_TCP_PORT
      - NETWORK_HOST
      - NETWORK_TCP_PORT
      - LEGACY_FUSE_ADMIN_API_URL
      - LEGACY_FUSE_WALLET_API_URL
      - LEGACY_FUSE_TRADE_API_URL
      - SMART_WALLETS_HOST
      - SMART_WALLETS_TCP_PORT
      - SMART_WALLETS_JWT_SECRET
      - EXPLORER_API_URL
      - BUNDLER_API_PRD_URL
      - BUNDLER_API_SANDBOX_URL
      - SPARK_RPC_URL
      - RPC_URL
      - PAYMASTER_PRODUCTION_SIGNER_PRIVATE_KEY
      - PAYMASTER_SANDBOX_SIGNER_PRIVATE_KEY
    depends_on:
      - charge-notifications-service
      - charge-network-service
      - charge-relay-service
      - charge-smart-wallets-service
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${API_PORT}:${API_PORT}
      - ${API_TCP_PORT}:${API_TCP_PORT}
    restart: always
  charge-notifications-service:
    container_name: charge-notifications-service
    build:
      context: .
      dockerfile: ./apps/charge-notifications-service/Dockerfile
      target: development
    depends_on:
      - charge-smart-wallets-service
    command: npm run start:dev charge-notifications-service
    environment:
      - NOTIFICATIONS_HOST
      - NOTIFICATIONS_PORT
      - NOTIFICATIONS_TCP_PORT
      - RPC_URL
      - FULL_ARCHIVE_RPC_URL
      - NETWORK_NAME
      - CHAIN_ID
      - MAX_BLOCKS
      - TIMEOUT_INTERVAL
      - MONGO_URI=${NOTIFICATIONS_MONGO_URI}
      - SMART_WALLETS_JWT_SECRET
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${NOTIFICATIONS_PORT}:${NOTIFICATIONS_PORT}
      - ${NOTIFICATIONS_TCP_PORT}:${NOTIFICATIONS_TCP_PORT}
    restart: always
  charge-network-service:
    container_name: charge-network-service
    build:
      context: .
      dockerfile: ./apps/charge-network-service/Dockerfile
      target: development
    command: npm run start:dev charge-network-service
    env_file:
      - ./apps/charge-network-service/.env
    environment:
      - NETWORK_HOST
      - NETWORK_PORT
      - NETWORK_TCP_PORT
      - LEGACY_FUSE_TRADE_API_URL
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${NETWORK_PORT}:${NETWORK_PORT}
      - ${NETWORK_TCP_PORT}:${NETWORK_TCP_PORT}
    restart: always
  charge-apps-service:
    container_name: charge-apps-service
    build:
      context: .
      dockerfile: ./apps/charge-apps-service/Dockerfile
      target: development
    command: npm run start:dev charge-apps-service
    environment:
      - APPS_HOST
      - APPS_PORT
      - APPS_TCP_PORT
      - MONGO_URI=${APPS_MONGO_URI}
      - CHARGE_WALLET_PHONE_NUMBER
      - CHARGE_BASE_URL
      - CHARGE_PUBLIC_KEY
      - CHARGE_SECRET_KEY
      - CHARGE_WEBHOOK_ID
      - JOB_SLEEP_MS
      - UNMARSHAL_BASE_URL
      - UNMARSHAL_AUTH_KEY
      - CHARGE_PAYMENTS_ETHEREUM_MNEMONIC
      - ALCHEMY_WEBHOOK_ID
      - ALCHEMY_AUTH_KEY
      - ALCHEMY_BASE_URL
      - ETHEREUM_PAYMENTS_NETWORK_NAME
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${APPS_PORT}:${APPS_PORT}
      - ${APPS_TCP_PORT}:${APPS_TCP_PORT}
    restart: always
  charge-smart-wallets-service:
    container_name: charge-smart-wallets-service
    build:
      context: .
      dockerfile: ./apps/charge-smart-wallets-service/Dockerfile
      target: development
    command: npm run start:dev charge-smart-wallets-service
    depends_on:
      - centrifugo
    environment:
      - SMART_WALLETS_HOST
      - SMART_WALLETS_PORT
      - SMART_WALLETS_TCP_PORT
      - MONGO_URI=${SMART_WALLETS_MONGO_URI}
      - SMART_WALLETS_JWT_SECRET
      - FUSE_WALLET_BACKEND_JWT
      - LEGACY_FUSE_WALLET_API_URL
      - CENTRIFUGO_URI
      - CENTRIFUGO_JWT
      - CENTRIFUGO_API_URL
      - CENTRIFUGO_API_KEY
      - NODE_ENV
      - INCOMING_TOKEN_TRANSFERS_WEBHOOK_ID
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${SMART_WALLETS_PORT}:${SMART_WALLETS_PORT}
      - ${SMART_WALLETS_TCP_PORT}:${SMART_WALLETS_TCP_PORT}
    restart: always

  charge-relay-service:
    container_name: charge-relay-service
    build:
      context: .
      dockerfile: ./apps/charge-relay-service/Dockerfile
      target: development
    command: npm run start:dev charge-relay-service
    env_file:
      - ./apps/charge-relay-service/.env
    environment:
      - RELAY_HOST
      - RELAY_PORT
      - MONGO_URI=${RELAY_MONGO_URI}
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${RELAY_PORT}:${RELAY_PORT}
      - ${RELAY_TCP_PORT}:${RELAY_TCP_PORT}
    restart: always
networks:
  chargenet:
