services:
  charge-accounts-service:
    command: npm run start:debug --service=charge-accounts-service --port=9229
  charge-api-service:
    command: npm run start:debug --service=charge-api-service --port=9227
  charge-notifications-service:
    command: npm run start:debug --service=charge-notifications-service --port=9230
  charge-relay-service:
    command: npm run start:debug --service charge-relay-service --port=9226
  charge-network-service:
    command: npm run start:debug --service=charge-network-service --port=9225
  charge-apps-service:
    command: npm run start:debug --service=charge-apps-service --port=9231
  charge-smart-wallets-service:
    command: npm run start:debug --service=charge-smart-wallets-service --port=9232
