version: '3.7'

services:
  charge-accounts-service:
    container_name: charge-accounts-service
    build:
      context: .
      dockerfile: ./apps/charge-accounts-service/Dockerfile
      target: development
    command: npm run start:dev charge-accounts-service
    environment:
      - ACCOUNTS_PORT
      - MONGO_URI=${ACCOUNTS_MONGO_URI}
      - AUTH0_ISSUER_URL
      - AUTH0_AUDIENCE
    depends_on:
      - mongo
      - charge-api-service
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${ACCOUNTS_PORT}:${ACCOUNTS_PORT}
      - ${ACCOUNTS_TCP_PORT}:${ACCOUNTS_TCP_PORT}
    networks:
      - chargenet
    restart: always
  charge-api-service:
    container_name: charge-api-service
    build:
      context: .
      dockerfile: ./apps/charge-api-service/Dockerfile
      target: development
    command: npm run start:dev charge-api-service
    env_file:
      - ./apps/charge-api-service/.env
    environment:
      - API_PORT
      - MONGO_URI=${API_MONGO_URI}
      - FUSE_STUDIO_ACCOUNTS_API_URL
    depends_on:
      - charge-relay-service
      - mongo
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${API_PORT}:${API_PORT}
      - ${API_TCP_PORT}:${API_TCP_PORT}
    networks:
      - chargenet
    restart: always
  charge-relay-service:
    container_name: charge-relay-service
    build:
      context: .
      dockerfile: ./apps/charge-relay-service/Dockerfile
      target: development
    command: npm run start:dev charge-relay-service
    env_file:
      - ./apps/charge-relay-service/.env
    environment:
      - RELAY_PORT
      - MONGO_URI=${RELAY_MONGO_URI}
    depends_on:
      - mongo
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${RELAY_PORT}:${RELAY_PORT}
      - ${RELAY_TCP_PORT}:${RELAY_TCP_PORT}
    networks:
      - chargenet
    restart: always
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - '27017:27017'
    networks:
      - chargenet
    restart: always
networks:
  chargenet:
