services:
  charge-accounts-service:
    container_name: charge-accounts-service
    build:
      context: .
      dockerfile: Dockerfile.shared
      args:
        SERVICE_NAME: accounts
        HTTP_PORT: 5001
        TCP_PORT: 8875

    env_file:
      - path: ./apps/charge-accounts-service/.env
        required: false
      - .env

    networks:
      - chargenet

    environment:
      - API_TCP_PORT
      - API_HOST
      - ACCOUNTS_HOST
      - RELAY_HOST
      - ACCOUNTS_PORT
      - MONGO_URI=${ACCOUNTS_MONGO_URI}
      - AUTH0_ISSUER_URL
      - AUTH0_AUDIENCE
      - APPS_HOST
      - APPS_TCP_PORT
      - PAYMASTER_PRODUCTION_CONTRACT_ADDRESS_V_0_1_0
      - ENTRYPOINT_PRODUCTION_CONTRACT_ADDRESS_V_0_1_0
      - ETHERSPOT_WALLET_FACTORY_PRODUCTION_CONTRACT_ADDRESS_V_0_1_0
      - PAYMASTER_SANDBOX_CONTRACT_ADDRESS_V_0_1_0
      - ENTRYPOINT_SANDBOX_CONTRACT_ADDRESS_V_0_1_0
      - ETHERSPOT_WALLET_FACTORY_SANDBOX_CONTRACT_ADDRESS_V_0_1_0
      - PAYMASTER_FUNDER_PRIVATE_KEY
      - PAYMASTER_FUNDER_WEBHOOK_ID
      - SMART_WALLETS_HOST
      - SMART_WALLETS_TCP_PORT
      - NOTIFICATIONS_HOST
      - NOTIFICATIONS_TCP_PORT
      - AMPLITUDE_API_KEY
      - INCOMING_TOKEN_TRANSFERS_WEBHOOK_ID
      - GOOGLE_OPERATOR_FORM_URL
      - CONSOLE_DAPP_URL
      - OPERATOR_REFRESH_JWT_SECRET
      - USDC_CONTRACT_ADDRESS_MAINNET
      - USDC_CONTRACT_ADDRESS_TESTNET
      - CHARGE_PAYMENTS_API_URL
      - CHARGE_PAYMENTS_API_KEY
      - COIN_GECKO_API_KEY
      - COIN_GECKO_URL
      - WFUSE_CONTRACT_ADDRESS_MAINNET
      - WFUSE_CONTRACT_ADDRESS_TESTNET
      - CRON_JOB_SECRET
    depends_on:
      - charge-api-service
      - charge-apps-service
    ports:
      - ${ACCOUNTS_PORT}:${ACCOUNTS_PORT}
      - ${ACCOUNTS_TCP_PORT}:${ACCOUNTS_TCP_PORT}
    restart: always

  charge-api-service:
    container_name: charge-api-service
    build:
      context: .
      dockerfile: Dockerfile.shared
      args:
        SERVICE_NAME: api
        HTTP_PORT: 5002
        TCP_PORT: 8876

    env_file:
      - path: ./apps/charge-api-service/.env
        required: false
      - .env

    networks:
      - chargenet

    environment:
      - API_HOST
      - API_PORT
      - ACCOUNTS_HOST
      - ACCOUNTS_TCP_PORT
      - MONGO_URI=${API_MONGO_URI}
      - NOTIFICATIONS_HOST
      - NOTIFICATIONS_TCP_PORT
      - NETWORK_HOST
      - NETWORK_TCP_PORT
      - LEGACY_FUSE_ADMIN_API_URL
      - LEGACY_FUSE_WALLET_API_URL
      - VOLTAGE_ROUTER_API_URL
      - SMART_WALLETS_HOST
      - SMART_WALLETS_TCP_PORT
      - SMART_WALLETS_JWT_SECRET
      - EXPLORER_API_URL
      - EXPLORER_API_KEY
      - BUNDLER_API_PRD_URL
      - BUNDLER_API_SANDBOX_URL
      - PIMLICO_API_PRD_URL
      - PIMLICO_API_SANDBOX_URL
      - SPARK_RPC_URL
      - RPC_URL
      - PAYMASTER_PRODUCTION_SIGNER_PRIVATE_KEY
      - PAYMASTER_SANDBOX_SIGNER_PRIVATE_KEY
    depends_on:
      - charge-notifications-service
      - charge-network-service
      - charge-smart-wallets-service
    ports:
      - 5002:5002/tcp
      - 8876:8876/tcp
    restart: always

  charge-notifications-service:
    container_name: charge-notifications-service
    build:
      context: .
      dockerfile: Dockerfile.shared
      args:
        SERVICE_NAME: notifications
        HTTP_PORT: 5005
        TCP_PORT: 8879

    env_file:
      - path: ./apps/charge-notifications-service/.env
        required: false
      - .env

    networks:
      - chargenet

    depends_on:
      - charge-smart-wallets-service
    environment:
      - NOTIFICATIONS_HOST
      - NOTIFICATIONS_PORT
      - NOTIFICATIONS_TCP_PORT
      - RPC_URL
      - FULL_ARCHIVE_RPC_URL
      - NETWORK_NAME
      - CHAIN_ID
      - MAX_BLOCKS
      - TIMEOUT_INTERVAL
      - MONGO_URI=${NOTIFICATIONS_MONGO_URI}
      - SMART_WALLETS_JWT_SECRET
    ports:
      - 5005:5005/tcp
      - 8879:8879/tcp
    restart: always

  charge-network-service:
    container_name: charge-network-service
    build:
      context: .
      dockerfile: Dockerfile.shared
      args:
        SERVICE_NAME: network
        HTTP_PORT: 5004
        TCP_PORT: 8878

    networks:
      - chargenet

    env_file:
      - path: ./apps/charge-network-service/.env
        required: false
      - .env

    environment:
      - NETWORK_HOST
      - NETWORK_PORT
      - NETWORK_TCP_PORT
      - EXPLORER_API_URL
      - EXPLORER_API_KEY
      - UNMARSHAL_BASE_URL
      - UNMARSHAL_AUTH_KEY
      - PRIMARY_SERVICE
      - COIN_GECKO_API_KEY
      - COIN_GECKO_URL
    ports:
      - 5004:5004/tcp
      - 8878:8878/tcp
    restart: always

  charge-apps-service:
    container_name: charge-apps-service
    build:
      context: .
      dockerfile: Dockerfile.shared
      args:
        SERVICE_NAME: apps
        HTTP_PORT: 5006
        TCP_PORT: 8880

    env_file:
      - path: ./apps/charge-apps-service/.env
        required: false
      - .env

    networks:
      - chargenet

    environment:
      - APPS_HOST
      - APPS_PORT
      - APPS_TCP_PORT
      - MONGO_URI=${APPS_MONGO_URI}
      - CHARGE_WALLET_PHONE_NUMBER
      - CHARGE_BASE_URL
      - CHARGE_PUBLIC_KEY
      - CHARGE_SECRET_KEY
      - CHARGE_WEBHOOK_ID
      - CHARGE_PAYMENT_LINKS_WEBHOOK_ID
      - JOB_SLEEP_MS
      - UNMARSHAL_BASE_URL
      - UNMARSHAL_AUTH_KEY
      - CHARGE_PAYMENTS_ETHEREUM_MNEMONIC
      - ALCHEMY_WEBHOOK_ID
      - ALCHEMY_AUTH_KEY
      - ALCHEMY_BASE_URL
      - ETHEREUM_PAYMENTS_NETWORK_NAME
    ports:
      - 5006:5006/tcp
      - 8880:8880/tcp
    restart: always

  charge-smart-wallets-service:
    container_name: charge-smart-wallets-service
    build:
      context: .
      dockerfile: Dockerfile.shared
      args:
        SERVICE_NAME: smart-wallets
        HTTP_PORT: 5007
        TCP_PORT: 8881

    depends_on:
      - centrifugo

    env_file:
      - path: ./apps/charge-smart-wallets-service/.env
        required: false
      - .env

    networks:
      - chargenet

    environment:
      - API_TCP_PORT
      - API_HOST
      - AMPLITUDE_API_KEY
      - SMART_WALLETS_HOST
      - SMART_WALLETS_PORT
      - SMART_WALLETS_TCP_PORT
      - CHARGE_BASE_URL
      - CHARGE_PUBLIC_KEY
      - CHARGE_SECRET_KEY
      - CHARGE_WEBHOOK_ID
      - MONGO_URI=${SMART_WALLETS_MONGO_URI}
      - SMART_WALLETS_JWT_SECRET
      - FUSE_WALLET_BACKEND_JWT
      - LEGACY_FUSE_WALLET_API_URL
      - CENTRIFUGO_URI
      - CENTRIFUGO_JWT
      - CENTRIFUGO_API_URL
      - CENTRIFUGO_API_KEY
      - NODE_ENV
      - INCOMING_TOKEN_TRANSFERS_WEBHOOK_ID
      - ACCOUNTS_HOST
      - ACCOUNTS_TCP_PORT
      - COIN_GECKO_API_KEY
      - COIN_GECKO_URL
    ports:
      - 5007:5007/tcp
      - 8881:8881/tcp
    restart: always

  redis:
    container_name: redis
    image: "redis/redis-stack:latest"
    environment:
      - REDIS_PORT_NUMBER=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - ./data/redis:/data
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    restart: always
    networks:
      - chargenet

  mongo:
    container_name: mongo
    image: mongo:5.0.15
    ports:
      - "27017:27017"
    restart: always
    volumes:
      - ./data:/data/db
    networks:
      - chargenet

  centrifugo:
    container_name: centrifugo
    image: centrifugo/centrifugo:v5
    volumes:
      - ./centrifugo/config.json:/centrifugo/config.json
    command: centrifugo -c config.json --admin
    depends_on:
      - redis
    ports:
      - 8000:8000
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    networks:
      - chargenet

networks:
  chargenet:
