services:
  charge-network-service:
    build:
      target: production
    volumes:
      - .:/usr/src/app
      - ./node_modules:/usr/src/app/node_modules
    command: npm run start:prod --service=charge-network-service
    env_file:
      - .env
    networks:
      - chargenet
  charge-accounts-service:
    build:
      target: production
    volumes:
      - .:/usr/src/app
      - ./node_modules:/usr/src/app/node_modules
    command: npm run start:prod --service=charge-accounts-service
    env_file:
      - .env
    networks:
      - chargenet
  charge-api-service:
    build:
      target: production
    volumes:
      - .:/usr/src/app
      - ./node_modules:/usr/src/app/node_modules
    command: npm run start:prod --service=charge-api-service
    env_file:
      - .env
    networks:
      - chargenet
  charge-apps-service:
    build:
      target: production
    volumes:
      - .:/usr/src/app
      - ./node_modules:/usr/src/app/node_modules
    command: npm run start:prod --service=charge-apps-service
    env_file:
      - .env
    networks:
      - chargenet
  charge-smart-wallets-service:
    build:
      target: production
    volumes:
      - .:/usr/src/app
      - ./node_modules:/usr/src/app/node_modules
    command: npm run start:prod --service=charge-smart-wallets-service
    env_file:
      - .env
    networks:
      - chargenet
  
  charge-notifications-service:
    build:
      target: production
    volumes:
      - .:/usr/src/app
      - ./node_modules:/usr/src/app/node_modules
    command: npm run start:prod --service=charge-notifications-service
    env_file:
      - .env
    networks:
      - chargenet
  charge-relay-service:
    build:
      target: production
    volumes:
      - .:/usr/src/app
      - ./node_modules:/usr/src/app/node_modules
    command: npm run start:prod --service=charge-relay-service
    env_file:
      - ./apps/charge-relay-service/.env
      - .env
    networks:
      - chargenet
