# Default values for accounts.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Global
global:
  # -- Kubernetes label `environment``
  environment: "development"

  # -- Google Cloud - Project ID (used for `Deployment` resource, `container.image` section)
  project_id: "example-12345"
  # -- Google Cloud - Region (used for `Deployment` resource, `container.image` section)
  region: "us-central1"

  # -- ClusterSecretStore name (should be created before apply)
  clusterSecretStore: "gcp-store"

  # -- DNS domain (used for `HTTPRoute` resource)
  domain: "example.com"

  # Image
  image:
    # -- Repository ID
    repository: "accounts"
    # -- Tag; overrides the image tag whose default is the chart appVersion.
    tag: "latest"

# -- Replicas
replicas: 1

# -- Affinity (available region zones)
affinity:
  zones:
    - a

# Resources
resources:
  # -- Resources - Requests
  requests:
    cpu: "500m"
    memory: "1Gi"
  # -- Resources - Limits
  limits:
    cpu: "500m"
    memory: "1Gi"

# Autoscaling
autoscaling:
  # -- Horizontal Pod Autoscaler
  hpa:
    # -- Horizontal Pod Autoscaler - Maximum number of replicas, minimal number is `replicas` value
    max_replicas: 5

# Service
service:
  # -- Service - Annotations
  annotations:
    # -- Service - Annotations - RPS per pod
    networking.gke.io/max-rate-per-endpoint: 10

# -- Security policy name (Cloud Armor)
securityPolicy: null

# -- Logging - enabled (`true` or `false`), sampleRate (from 0 to 500000 / 1000000)
logging:
  enabled: true
  sampleRate: 1000000

# ConfigMap (non - sensitive information)
configMap:
  # -- Auth0 issuer URL
  auth0_issuer_url: ""
  # -- Auth0 audience
  auth0_audience: ""
  # -- Bundler - Paymaster Sandbox contract address
  paymaster_sandbox_contract_address_v_0_1_0: ""
  # -- Bundler - Paymaster Production contract address
  paymaster_production_contract_address_v_0_1_0: ""
  # -- Bundler - Entrypoint Sandbox contract address
  entrypoint_sandbox_contract_address_v_0_1_0: ""
  # -- Bundler - Entrypoint Production contract address
  entrypoint_production_contract_address_v_0_1_0: ""

# -- Secret (external; sensitive information; pulled from Google Cloud, Secret Manager)
secret:
  - mongo_uri
