kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1beta1
metadata:
  name: apps
  namespace: {{ .Release.Namespace }}
  labels:
    app: apps
    environment: {{ .Values.global.environment }}
spec:
  parentRefs:
    - kind: Gateway
      name: "{{ .Release.Namespace }}-lb"
      sectionName: https
  hostnames:
    - "api.{{ .Values.global.domain }}"
  rules:
    - matches:
        - path:
            value: /app-store/
      filters:
        - type: ResponseHeaderModifier
          responseHeaderModifier:
            add:
              - name: application
                value: apps
      backendRefs:
        - name: apps
          port: 5006
