kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1beta1
metadata:
  name: apps
  namespace: {{ .Values.global.namespace }}
spec:
  parentRefs:
    - kind: Gateway
      name: "{{ .Values.global.namespace }}-lb"
      sectionName: https
  hostnames:
    - "api.{{ .Values.global.domain }}"
  rules:
    - matches:
        - path:
            value: /app-store/
      filters:
        - type: ResponseHeaderModifier
          responseHeaderModifier:
            add:
              - name: application
                value: apps
      backendRefs:
        - name: apps
          port: 5006
---
apiVersion: networking.gke.io/v1
kind: HealthCheckPolicy
metadata:
  name: apps
  namespace: {{ .Values.global.namespace }}
spec:
  default:
    checkIntervalSec: 30
    timeoutSec: 5
    healthyThreshold: 3
    unhealthyThreshold: 5
    config:
      type: HTTP
      httpHealthCheck:
        port: 5006
        portName: http
        host: apps
        requestPath: /app-store/v1/health
  targetRef:
    group: ""
    kind: Service
    name: apps
