apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: {{ .Release.Namespace }}
  annotations:
    reloader.stakater.com/auto: "true"
  labels:
    app: api
    environment: {{ .Values.global.environment }}
spec:
  replicas: {{ .Values.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
  selector:
    matchLabels:
      app: api
      environment: {{ .Values.global.environment }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
        app: api
        environment: {{ .Values.global.environment }}
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: topology.kubernetes.io/zone
                operator: In
                values:
                {{- range $zone := .Values.affinity.zones }}
                  - {{ $.Values.global.region }}-{{ $zone }}
                {{- end }}
      containers:
        - name: api
          image: "{{ .Values.global.region }}-docker.pkg.dev/{{ .Values.global.project_id }}/{{ .Values.global.image.repository }}/api:{{ .Values.global.image.tag }}"
          imagePullPolicy: Always
          env:

            # ConfigMap
            - name: API_HOST
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: api_host
            - name: API_PORT
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: api_port
            - name: API_TCP_PORT
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: api_tcp_port
            - name: ACCOUNTS_HOST
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: accounts_host
            - name: ACCOUNTS_TCP_PORT
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: accounts_tcp_port
            - name: NOTIFICATIONS_HOST
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: notifications_host
            - name: NOTIFICATIONS_TCP_PORT
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: notifications_tcp_port
            - name: NETWORK_HOST
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: network_host
            - name: NETWORK_TCP_PORT
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: network_tcp_port
            - name: SMART_WALLETS_HOST
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: smart_wallets_host
            - name: SMART_WALLETS_PORT
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: smart_wallets_port
            - name: SMART_WALLETS_TCP_PORT
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: smart_wallets_tcp_port
            {{- range $key, $value := .Values.configMap }}
            - name: {{ $key | upper }}
              valueFrom:
                configMapKeyRef:
                  name: api
                  key: {{ $key }}
            {{- end }}

            # Secret
            {{- range .Values.secret }}
            - name: {{ . | upper }}
              valueFrom:
                secretKeyRef:
                  name: api
                  key: {{ . }}
            {{- end }}

          # Ports
          ports:
            - containerPort: 5002
              name: http
            - containerPort: 8876
              name: tcp

          # Probes
          livenessProbe:
            httpGet:
              path: /api/health
              port: 5002
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 1
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/health
              port: 5002
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 1
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 3

          # Resources
          resources:
            requests:
            {{- range $key, $val := .Values.resources.requests }}
              {{ $key }}: {{ $val | quote }}
            {{- end }}
            limits:
            {{- range $key, $val := .Values.resources.limits }}
              {{ $key }}: {{ $val | quote }}
            {{- end }}
