apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: skandha
  namespace: {{ .Release.Namespace }}
  labels:
    app: skandha
    environment: {{ .Values.global.environment }}
spec:
  refreshInterval: 5m # Pull rate Secret Manager secrets from Google Cloud
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ .Values.global.clusterSecretStore }}
  target:
    name: skandha
    creationPolicy: Owner
  data:
    - secretKey: config.json
      remoteRef:
        key: {{ .Release.Namespace }}-skandha-config
