apiVersion: apps/v1
kind: Deployment
metadata:
  name: relay
  namespace: {{ .Release.Namespace }}
  labels:
    app: relay
    environment: {{ .Values.global.environment }}
spec:
  replicas: {{ .Values.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
  selector:
    matchLabels:
      app: relay
      environment: {{ .Values.global.environment }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
        app: relay
        environment: {{ .Values.global.environment }}
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: topology.kubernetes.io/zone
                operator: In
                values:
                {{- range $zone := .Values.affinity.zones }}
                  - {{ $.Values.global.region }}-{{ $zone }}
                {{- end }}
      containers:
        - name: relay
          image: "{{ .Values.global.region }}-docker.pkg.dev/{{ .Values.global.project_id }}/{{ .Values.global.image.repository }}/relay:{{ .Values.global.image.tag }}"
          env:
            
            # ConfigMap
            - name: RELAY_HOST
              valueFrom:
                configMapKeyRef:
                  name: relay
                  key: relay_host
            - name: RELAY_PORT
              valueFrom:
                configMapKeyRef:
                  name: relay
                  key: relay_port
            - name: RELAY_TCP_PORT
              valueFrom:
                configMapKeyRef:
                  name: relay
                  key: relay_tcp_port

            # Secret
            {{- range .Values.secret }}
            - name: {{ . | upper }}
              valueFrom:
                secretKeyRef:
                  name: relay
                  key: {{ . }}
            {{- end }}

          # Ports
          ports:
            - containerPort: 5003
              name: http
            - containerPort: 8877
              name: tcp
          
          # Probes
          livenessProbe:
            httpGet:
              path: /relay/health
              port: 5003
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /relay/health
              port: 5003
            initialDelaySeconds: 5
            periodSeconds: 5
          
          # Resources
          resources:
            requests:
            {{- range $key, $val := .Values.resources.requests }}
              {{ $key }}: {{ $val | quote }}
            {{- end }}
            limits:
            {{- range $key, $val := .Values.resources.limits }}
              {{ $key }}: {{ $val | quote }}
            {{- end }}
