apiVersion: v1
kind: Service
metadata:
  name: relay
  namespace: {{ .Values.global.namespace }}
  labels:
    app: relay
    environment: {{ .Values.global.environment }}
spec:
  selector:
    app: relay
    environment: {{ .Values.global.environment }}
  ports:
    - name: http
      protocol: TCP
      port: 5003
      targetPort: 5003
    - name: tcp
      protocol: TCP
      port: 8877
      targetPort: 8877
  type: ClusterIP
