apiVersion: v1
kind: Service
metadata:
  name: centrifugo
  namespace: {{ .Release.Namespace }}
  annotations:
    networking.gke.io/max-rate-per-endpoint: {{ .Values.maxRatePerEndpoint | quote }}
  labels:
    app: centrifugo
    environment: {{ .Values.global.environment }}
spec:
  selector:
    app: centrifugo
    environment: {{ .Values.global.environment }}
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP
