# Default values for api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Global
global:
  # -- Label 'environment'
  environment: ""

  # -- Google Cloud - Project ID
  project_id: ""
  # -- Google Cloud - Region
  region: ""

  # -- DNS domain
  domain: ""

  # Image
  image:
    # -- Repository ID
    repository: ""
    # -- Tag; overrides the image tag whose default is the chart appVersion.
    tag: ""

# Resources
resources:
  # -- Resources - Requests
  requests:
    cpu: ""
    memory: ""
  # -- Resources - Limits
  limits:
    cpu: ""
    memory: ""

# Autoscaling
autoscaling:
  # -- Autoscaling - Minimal replicas value (Horizontal Pod Autoscaler)
  min_replicas: 1
  # -- Autoscaling - Maximum replicas value (Horizontal Pod Autoscaler)
  max_replicas: 5
  # -- Autoscaling - CPU threshold (in percent, Horizontal Pod Autoscaler)
  cpu:
    threshold: 80
  # -- Autoscaling - RAM threshold (in percent, Horizontal Pod Autoscaler)
  memory:
    threshold: 80
  # -- Autoscaling - RPS threshold (in percent, Horizontal Pod Autoscaler)
  rps:
    threshold: 80

# Service
service:
  # -- Service - Annotations
  annotations:
    # -- Service - Annotations - RPS per pod
    networking.gke.io/max-rate-per-endpoint: 10

# -- Logging - enabled (`true` or `false`), sampleRate (from 0 to 500000 / 1000000)
logging:
  enabled: false

# ConfigMap
configMap:
  # -- BlockScout API URL
  explorer_api_url: ""
  # -- QA mode ('true' or 'false')
  qa_mode: ""
  # -- Bundler - API Production URL
  bundler_api_prd_url: ""
  # -- Bundler - API Sandbox URL
  bundler_api_sandbox_url: ""
  # -- RPC URL - Spark
  spark_rpc_url: ""
  # -- Legacy - Fuse admin API URL
  legacy_fuse_admin_api_url: ""
  # -- Legacy - Fuse wallet API URL
  legacy_fuse_wallet_api_url: ""
  # -- Legacy - Fuse trade API URL
  legacy_fuse_trade_api_url: ""

# Secrets (through environment variables)
secrets:
  # -- MongoDB Atlas URI (mongodb://username:password@hostname:port/database?params)
  mongo_uri: ""
  # -- RPC URL - Fuse
  rpc_url: ""
  # -- Fuse Studio admin JWT
  fuse_studio_admin_jwt: ""
  # -- Legacy - JWT secret
  legacy_jwt_secret: ""
  # -- smart-wallets - JWT secret
  smart_wallets_jwt_secret: ""
  # -- Bundler - Paymaster Production signer private key
  paymaster_production_signer_private_key_v_0_1_0: ""
  # -- Bundler - Paymaster Sandbox signer private key
  paymaster_sandbox_signer_private_key_v_0_1_0: ""
  # -- Explorer (BlockScout) - API key
  explorer_api_key: ""
