kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1beta1
metadata:
  name: accounts
  namespace: {{ .Release.Namespace }}
  labels:
    app: accounts
    environment: {{ .Values.global.environment }}
spec:
  parentRefs:
    - kind: Gateway
      name: {{ .Release.Namespace }}-lb
      sectionName: https
  hostnames:
    - "accounts.{{ .Values.global.domain }}"
  rules:
    - matches:
        - path:
            value: /
      filters:
        - type: ResponseHeaderModifier
          responseHeaderModifier:
            add:
              - name: application
                value: accounts
      backendRefs:
        - name: accounts
          port: 5001
