apiVersion: v1
kind: Secret
metadata:
  name: network
  namespace: { { .Release.Namespace } }
  labels:
    app: network
    environment: { { .Values.global.environment } }
type: Opaque
data:
  rpc_url: { { .Values.secrets.rpc_url | b64enc } }
