apiVersion: v1
kind: ConfigMap
metadata:
  name: smart-wallets
  namespace: {{ .Release.Namespace }}
  labels:
    app: smart-wallets
    environment: {{ .Values.global.environment }}
data:
  
  # [Hardcoded] Host & Port
  accounts_host: "accounts"
  accounts_tcp_port: "8875"
  smart_wallets_host: "0.0.0.0"
  smart_wallets_port: "5007"
  smart_wallets_tcp_port: "8881"

  # User - defined
{{- range $key, $val := .Values.configMap }}
  {{ $key }}: {{ $val | quote }}
{{- end }}
