apiVersion: v1
kind: Service
metadata:
  name: smart-wallets
  namespace: {{ .Values.global.namespace }}
  labels:
    app: smart-wallets
    environment: {{ .Values.global.environment }}
spec:
  selector:
    app: smart-wallets
    environment: {{ .Values.global.environment }}
  ports:
    - name: http
      protocol: TCP
      port: 5007
      targetPort: 5007
    - name: tcp
      protocol: TCP
      port: 8881
      targetPort: 8881
  type: ClusterIP
